<%= form_for(@couch_type) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :required => true, :autofocus => true, class: 'form-control' %>
    <br>
    <%= f.check_box :disabled , class:'check_box' %>
    <%= f.label :disabled %> 
  </div>
  <%= f.submit 'Guardar', class: 'button right' %>
 <% end %>
