<div class="panel panel-body">
    <div class="row">
        <div class="col-md-4">
            <%= link_to(couch_post_path(couch_post.id), :method => :get) do%>
                <img class="img-responsive" src= <%=couch_post.mainpic.url(:couchlist)%> alt="">
            <% end %>
        </div>
        <div class="col-md-8">
            <h3><%= link_to couch_post.title, couch_post_path(couch_post.id) %></h3>
            <h4><%= link_to couch_post.user.name, user_path(couch_post.user) %></h4>
            <p class="truncate-post"><%= couch_post.description %> </p>
            <div class="row">
                <div class="col-md-5">
                    <div class="ratings-list">
                        <p class="pull-right">18 opiniones</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                </div>

                <div class="col-md-7">
                  <%= link_to(couch_post_path(couch_post.id), :method => :get, :class => 'btn btn-primary pull-right') do%>
                     Ver Couch<span class="glyphicon glyphicon-chevron-right"></span>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

