<div class="panel panel-body">
    <% @couch_post_feedbacks = CouchPostFeedback.where(couch_post_id: couch_post.id)  %>
   <%    @couch_post_feedback_val = 0  %>
   <%    if @couch_post_feedbacks.count > 0  %>
   <%         @couch_post_feedback_scored = 0 %>
   <%         @couch_post_feedbacks.each do |feed|   %>
   <%  if(feed.score != nil) %>
    <%         @couch_post_feedback_val =  @couch_post_feedback_val + feed.score  %>
    <%   @couch_post_feedback_scored += 1 %>
    <%        end   %>
      <%        end   %>
       <%   if (@couch_post_feedback_scored > 0)  %>
    <%         @couch_post_feedback_val =  @couch_post_feedback_val / @couch_post_feedback_scored   %>
    <% end %>
      <% end %>


    <div class="row">
        <div class="col-md-4">
            <%= link_to(couch_post_path(couch_post.id), :method => :get) do%>
                <img class="img-responsive" src= <%=couch_post.mainpic.url(:couchlist)%> alt="">
            <% end %>
        </div>
        <div class="col-md-8">
            <h3><%= link_to couch_post.title, couch_post_path(couch_post.id) %></h3>
            <h4><%= link_to couch_post.user.name, user_path(couch_post.user) %></h4>
            <p class="truncate-post"><%= couch_post.description %> </p>
            <div class="row">
                <div class="col-md-5">
                    <div class="ratings-list">
                         <p class="pull-right">
                           <%= @couch_post_feedbacks.count%> comentario<% if(@couch_post_feedbacks.count != 1)%>s<%end%>
                         </p>
                         <p> 
                            <% (1..5).each do |i| %>
                                <%  @couch_post_feedback_val ||= 0 %>
                                <% if( i <=  @couch_post_feedback_val)%> 
                                  <span class="glyphicon glyphicon-star"></span>
                                <% else %>
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                <% end %>     
                            <% end %>       
                         </p>
                    </div>
                </div>

                <div class="col-md-7">
                  <%= link_to(couch_post_path(couch_post.id), :method => :get, :class => 'btn btn-primary pull-right') do%>
                     Ver Couch<span class="glyphicon glyphicon-chevron-right"></span>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

