

    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= link_to my_couch_post.title, couch_post_path(my_couch_post.id) %></h4></div>
        <div class="panel-body">

Descripción: <%= my_couch_post.description %>
<br>
Tipo: <%= CouchType.find(my_couch_post.couch_type_id).name.capitalize %>
<br>
Zona: <%= my_couch_post.zone %>
<br>
Habitaciones: <%= my_couch_post.rooms %>
<br>
Vacantes: <%= my_couch_post.vacants %>
<br>


  <div class="btn-group pull-right">
  	 <% if my_couch_post.couch_reservation_requests.empty?%>
  	 <a href="#" class='btn btn-danger btn-xs pull-right'>Eliminar</a>
  	  <% end %>
        <a href= <%= edit_couch_post_path(my_couch_post)%> class='btn btn-info btn-xs pull-left'>Modificar</a>



<td class="col-md-1 text-right">
  <%= link_to("Modificar", edit_couch_post_path(my_couch_post), :method => :get, :class => 'btn btn-info btn-xs pull-right') %>
</td>

<td class="col-md-1 text-right">
  <% if my_couch_post.couch_reservation_requests.empty?%>
  <%= link_to("Eliminar", couch_post_path(my_couch_post), :data => { :confirm => "¿Estás seguro/a?" }, :method => :delete, :class => 'btn btn-danger btn-xs pull-left') %>
  <% end %>
</td>
</div>
</div>
</div>