<div class="authform">
	<h3>Cambiar Imagen</h3>

	<%= form_for @couch_post, :html => { :multipart => true }  do |c| %>
	<div class="form-group">
		<%= c.label :title %>
		<%= c.text_field :title, required: :true , class: 'form-control' %>
	</div>

+	<div class="form-group">
+		<%= c.label :mainpic %>
+		<%= c.file_field :mainpic, required: :true, class: 'form-control' %>
+	</div>

	<div class="form-group" >
	
		<%= c.hidden_field :user_id %>
	</div>

		<div class="form-group" >
	
		<%= c.hidden_field :id %>
	</div>

	<%= c.submit 'Modificar Couch', :class => 'button right' %>
	<% end %>
</div>
