<h1> Crear Publicación de Couch</h1>

<%= form_for :couch_post, url: couch_posts_path do |c| %>
	<p>
		<%= c.label :Título %> <br>
		<%= c.text_field :title %>
	</p>

	<p>
		<%= c.label :Descripción %> <br>
		<%= c.text_area :description %>
	</p>

<p>
		<%= c.label :Tipo %> <br>
		<%= c.number_field :couch_type_id %>
	</p>


		<p>
		<%= c.label :Zona %> <br>
		<%= c.text_field :zone %>
	</p>

	<p>
		<%= c.label :Habitaciones %> <br>
		<%= c.number_field :rooms %>
	</p>

	<p>
		<%= c.label :Vacantes %> <br>
		<%= c.number_field :vacants %>
	</p>

<p>
		<%= c.label :Dueño %> <br>
		<%= c.text_field :username %>
	</p>

<p>
		<%= c.file_field :mainpic %> <br>
	</p>

	<p>

		<%= c.submit %>
	</p>
	<%end%>