<div class="authform">
	<h3>Publicar Couch</h3>

	<%= form_for :couch_post, url: couch_posts_path do |c| %>
	<div class="form-group">
		<%= c.label :title %>
		<%= c.text_field :title, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= c.label :description %>
		<%= c.text_area :description, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= c.label :couch_type_id %>
		<%= c.collection_select( :couch_type_id, CouchType.all , :id, :name, include_blank: true) %>
	</div>



	<div class="form-group">
		<%= c.label :zone %>
		<%= c.text_field :zone, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= c.label :rooms %>
		<%= c.number_field :rooms, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= c.label :vacants %>
		<%= c.number_field :vacants, class: 'form-control' %>
	</div>

	<div class="form-group" >
	
		<%= c.hidden_field :user_id, value: @current_user.id %>
	</div>

	<div class="form-group">
		<%= c.label :mainpic %>
		<%= c.file_field :mainpic, class: 'form-control' %>
	</div>

	<%= c.submit 'Publicar Couch', :class => 'button right' %>
	<% end %>
</div>
