<h1> new couch post</h1>

<%= form_for :couch_post, url: couch_posts_path do |c| %>
	<p>
		<%= c.label :title %> <br>
		<%= c.text_field :title %>
	</p>

	<p>
		<%= c.label :text %> <br>
		<%= c.text_area :text %>
	</p>

	<p>

		<%= c.submit %>
	</p>
	<%end%>