<h1> show couch post </h1>
<p>Nombre: <%= @couch_post.title if @couch_post.title %></p>
<p>Descripción: <%= @couch_post.description if @couch_post.description %></p>
<p>Tipo: <%= @couch_post.couch_type_id if @couch_post.couch_type_id %></p>
<p>Dueño: <%= @couch_post.username if @couch_post.username %></p>
<p>Zona: <%= @couch_post.title if @couch_post.title %></p>