<div class="authform">
  <h3>Editar Usuario</h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :telephone %>
      <%= f.phone_field :telephone, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :birthdate %>
      <%= f.date_field :birthdate, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :gender %>
      <%= f.select(:gender, User.i18n_genders, {}, {class: "form-control"}) %>
    </div>
    <fieldset>
      <p>Dejar en blanco si no deseas modificar tu password.</p>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p>Debes introducir tu password actual para realizar cambios.</p>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit 'Actualizar', :class => 'button right' %>
  <% end %>
</div>
<div class="authform">
<h3>Eliminar cuenta</h3>
<p>¿Descontento? Lamentamos verte ir.</p>
<%= button_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "¿Estás seguro?" }, :method => :delete, :class => 'button right' %>
</div>
