<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Editar cuenta', edit_user_registration_path %></li>
  <li><%= link_to 'Cerrar sesión', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Iniciar sesión', new_user_session_path %></li>
  <li><%= link_to 'Registrarse', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Usuarios', users_path %></li>
    <li><%= link_to 'Panel Admin Upmin', '/admin' %></li>
  <% end %>
<% end %>
