<div class="container">

  <h3>Solicitudes hechas por m&iacute; </h3>
    <br>

 <div class="row">
          <div class="col-xs-12 col-md-12">

            <div class="panel panel-default">
              <div class="panel-heading">Filtrar por fechas</div>
              <div class="panel-body">
                 <%= form_tag(date_filter_results_path, :method=>'get', :multipart => true) do %>                
                  <div class="form-group">
                   <table>
                    <tr>
                    <td class="col-md-1 text-center">
                       <tr>
                         <td class="col-md-1 text-center">
                        <%= date_field(:dates, :from_date, :value => @start_date, :required => true) %>
                    </td>
               
                   <td class="col-md-1 text-center">
                        <%= date_field(:dates, :to_date, :value => @end_date, :required => true) %>
                   </td>
                
                   <td class="col-md-1 text-center">
                     <div class="checkbox">
                        <label>
                           <%= check_box_tag :accept, 'yes', @accept %> Mostrar solo aceptadas
                        </label>
                      </div>
                   </td>
                  
                   <td class="col-md-1 text-center">
                   <%= submit_tag 'Filtrar resultados', :class => 'btn btn-success btn-lg post-couch' %>
                       </td>
             

                        </tr>
                   </table>
                    </div>
                  <%end%>
              </div>
            </div>
          </div>
    </div>
 
 


  <br> 
    <h4> Mostrando <%= @my_requests.count %> resultado<% if(@my_requests.count != 1)%>s<%end%> <% if(@accept)%>aceptado<% if(@my_requests.count != 1)%>s<%end%> <%end%></h4>
  <br>
 
    <div class="row">
        <% @my_requests.each do |my_request| %>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-body"><%= render partial: "my_request", object: my_request %></div>
            </div>
          </div>
        <% end %>
    </div>
</div>
