<div class="authform">
	<h3>Publicar Comentario</h3>

	<%= form_for :couch_post_feedback, url: couch_post_feedbacks_path do |c| %>
	<div class="form-group">
		<%= c.label :title %>
		<%= c.text_field :title, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= c.label :description %>
		<%= c.text_area :description, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= c.label :couch_type_id %>
		<%= c.collection_select( :couch_type_id, CouchType.all , :id, :name, include_blank: true) %>
	</div>



	<div class="form-group">
		<%= c.label :zone %>
		<%= c.text_field :zone, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= c.label :rooms %>
		<%= c.number_field :rooms, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= c.label :score %>
		<%= c.number_field :score, class: 'form-control' %>
	</div>

	<div class="form-group" >
	
		<%= c.hidden_field :owner_id, value: @current_user.id %>
	</div>

	<div class="form-group" >
	
		<%= c.hidden_field :target_id, value: @current_couch_post.id %>
	</div>



	<%= c.submit 'Publicar Comentario', :class => 'button right' %>
	<% end %>
</div>
