<h3>Usuario</h3>
<p>Nombre: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Teléfono: <%= @user.telephone if @user.telephone %></p>
<p>Nacimiento: <%= @user.birthdate if @user.birthdate%></p>
<p>Género: <%= @user.gender if @user.gender %></p>
