<div class="container">
  <h3><%= @user.name if @user.name %></h3>
  <h4>Calificaciones a este usuario</h4>
  <div class="ratings">
    <h5>Puntaje promedio</h5>
    <p><%= render partial: "stars", locals:{rating_value: @user.average_rating} %></p>
  </div>

  <div class="well">
    <% @received_feedbacks.each do |f| %>
      <div class="row">
        <div class="col-md-12">
          <%= render partial: "user_feedbacks/received_feedback", locals:{feedback: f} %>
        </div>
      </div>
      <hr>
    <% end %>
    <%= link_to "Calificar", {controller: 'user_feedbacks', action: 'new' , user_id: @user.id }, class: 'btn btn-primary' %>
  </div>

<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pagination">
      <%= will_paginate @received_feedbacks, renderer: BootstrapPagination::Rails, container: false, previous_label: '&laquo;', next_label: '&raquo;' %>
    </ul>
  </div>
</div>
