<!-- Page Content -->
<div class="container">

    <div class="row">

        <%= render 'couch_types/couch_types_side' %>


        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">

                          <% @couch_posts.joins('LEFT OUTER JOIN users ON couch_posts.user_id = users.id').where('users.premium_expiration > ?', DateTime.current).shuffle.take(3).each_with_index do |couch_post, i| %>
                          <% if i == 0 %>
                            <div class="item active">
                          <% else %>
                            <div class="item">
                          <% end %>
                                <img class="slide-image" src="<%= couch_post.mainpic.url(:bigpanoramic) %>" alt="">
                                <div class="carousel-caption">
                                  <h3><%= link_to couch_post.title, couch_post_path(couch_post.id), class: 'carousel-link' %></h3>
                                  <p><%= link_to couch_post.description.truncate_words(20), couch_post_path(couch_post.id), class: 'carousel-link hidden-xs' %></p>
                                </div>
                            </div>
                          <% end %>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row">
<% @couch_posts.joins('LEFT OUTER JOIN users ON couch_posts.user_id = users.id').where('users.premium_expiration > ?', DateTime.current).shuffle.take(9).each do |couch_post| %>
<% @couch_post_feedbacks = CouchPostFeedback.where(couch_post_id: couch_post.id)  %>
   <%    @couch_post_feedback_val = 0  %>
   <%    if @couch_post_feedbacks.count > 0  %>
   <%         @couch_post_feedback_scored = 0 %>
   <%         @couch_post_feedbacks.each do |feed|   %>
   <%  if(feed.score != nil) %>
    <%         @couch_post_feedback_val =  @couch_post_feedback_val + feed.score  %>
    <%   @couch_post_feedback_scored += 1 %>
    <%        end   %>
      <%        end   %>
       <%   if (@couch_post_feedback_scored > 0)  %>
    <%         @couch_post_feedback_val =  @couch_post_feedback_val / @couch_post_feedback_scored   %>
    <% end %>
      <% end %>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <%= link_to(couch_post_path(couch_post.id), :method => :get) do %>
                          <img src="<%= couch_post.mainpic.url(:frontpage) %>" alt="">
                        <% end %>
                        <div class="caption">
                            <h4><%= link_to couch_post.title, couch_post_path(couch_post.id) %></h4>
                          <p class="truncate-post"><%= couch_post.description %> </p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">  
                                <%= @couch_post_feedbacks.count%> comentario<% if(@couch_post_feedbacks.count != 1)%>s<%end%>
                            </p>
                            <p>
                            <% (1..5).each do |i| %>
                                <%  @couch_post_feedback_val ||= 0 %>
                                <% if( i <=  @couch_post_feedback_val)%> 
                                  <span class="glyphicon glyphicon-star"></span>
                                <% else %>
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                <% end %>     
                            <% end %>  
                            </p>
                        </div>
                    </div>
                </div>
<% end %>

            </div>

        </div>

    </div>

</div>
